{% extends 'base.html' %}

{% block title %}
	Deploying A Flask App
{% endblock %}

{% block css %}
{% endblock %}

{% block header %}
	<h1>Deploying a Flask App with A2 Hosting</h1>
{% endblock %}

{% block content %}
  <h2>Here I'm going to walk through the process I used to deploy my Flask app on A2 hosting.</h2>
  <div>
    <h3>Setting Up A New App</h3>
    <p>
      I'm going to assume you already have an account with A2 hosting. If not, you can go here and regsiter. I'm using the XXXX package.
      From your CPanel, scroll down to the Software section, and click the Setup Python App button. 
      <div class="thumbnail">
          <img src="{{ url_for('.static', filename='blog/deploy_flask_app/setupapp.png') }}">
  	  </div>
  	  From this page, you can setup your app. Select the version of Python you want to use (I'm using 3.6, and I'd recommend some variant of Python 3). You can then select the directory where the app will be stored, and the URI of the main page. I wanted to build my entire website using Flask and Python, so I left the URI box blank, so that my main app page is my home page. For that same reason, I built the app in my home directory (home/username/appname). You can store your app wherever you like, and if you're just building the app for part of the website, you can specify that URI. Once you've made your selections, click Setup, and it will build your app. 
      <div class="thumbnail">
          <img src="{{ url_for('.static', filename='blog/deploy_flask_app/buildapp.JPG') }}">
  	  </div>
      From there, go back to your CPanel, go to the Files section, and click File Manager. Under the directory you specified for the app, you should see a folder with your app's name. 
      <div class="thumbnail">
          <img src="{{ url_for('.static', filename='blog/deploy_flask_app/filemanager.jpg') }}">
  	  </div>
      Open the folder, and inside you should see a public folder, a tmp folder, a passenger_wsgi.py file.
      <div class="thumbnail">
          <img src="{{ url_for('.static', filename='blog/deploy_flask_app/appdirectory.JPG') }}">
  	  </div>
    </p>
  </div>
  <div>
      <h3>Installing Dependencies</h3>
      <p>
          When creating your app, a virtualenv is created, and it is here that all libraries will be installed. There are two ways to install dependencies: via the command line and at the App Setup page. The second way is easier, but if you're comfortable with Linux or want to practice using the command line, you can SSH into your server. 
          <h4>SSH</h4>
          A2 has good documentation about connecting to your site via SSH. You can read those <a href="https://www.a2hosting.com/kb/getting-started-guide/accessing-your-account/using-ssh-secure-shell">here</a>. Once connected, you need to activate your virtualenv. The command for that is found on the App Setup page. 
          <div class="thumbnail">
              <img src="{{ url_for('.static', filename='blog/deploy_flask_app/virtualenv.jpg') }}">
          </div>
          After activating the virualenv, you can use pip to install whatever packages you need. You can use pip search packagename to find the correct command, or you can do an internet search for pip install packagename. Simply enter the command, and pip will do the rest. A2 also has a good <a href="https://www.a2hosting.com/kb/developer-corner/python/using-virtualenv-and-pip">article</a> about installing packages via pip. When you're finished, you can close your session.
          <h4>App Setup Page</h4>
          This method is much easier. Find your app on the App Setup page, go to the modules section, and type the name of the package you want to install. 
          <div class="thumbnail">
              <img src="{{ url_for('.static', filename='blog/deploy_flask_app/selectmodule.JPG') }}">
          </div>
          You can even specify which version. Once you've selected the correct one, click add, and it will be installed. 
          <div class="thumbnail">
              <img src="{{ url_for('.static', filename='blog/deploy_flask_app/selectmoduleversion.JPG') }}">
          </div>
      </p>
  </div>
  <div>
      <h3>The App</h3>
      <p>
          To get started, we just need a simple Python file to define your Flask app. I named mine __init__.py because I am building my app to be a package, but you can use whatever you like. Many people start with app.py or myapp.py. To recreate the simple "Hello, World!", we need the following code.
          <pre style='color:#000000;background:#ffffff;'>
              <span style='color:#800000; font-weight:bold; '>import</span> os
              
              <span style='color:#800000; font-weight:bold; '>from</span> flask <span style='color:#800000; font-weight:bold; '>import</span> Flask<span style='color:#808030; '>,</span> request<span style='color:#808030; '>,</span> render_template<span style='color:#808030; '>,</span> redirect<span style='color:#808030; '>,</span> url_for
                
              project_root <span style='color:#808030; '>=</span> os<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>dirname<span style='color:#808030; '>(</span>os<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>realpath<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'__file__'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
              template_path <span style='color:#808030; '>=</span> os<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>join<span style='color:#808030; '>(</span>project_root<span style='color:#808030; '>,</span> <span style='color:#0000e6; '>'app/templates'</span><span style='color:#808030; '>)</span>
              static_path <span style='color:#808030; '>=</span> os<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>join<span style='color:#808030; '>(</span>project_root<span style='color:#808030; '>,</span> <span style='color:#0000e6; '>'app/static'</span><span style='color:#808030; '>)</span>
              app <span style='color:#808030; '>=</span> Flask<span style='color:#808030; '>(</span><span style='color:#074726; '>__name__</span><span style='color:#808030; '>,</span> template_folder<span style='color:#808030; '>=</span>template_path<span style='color:#808030; '>,</span> static_folder<span style='color:#808030; '>=</span>static_path<span style='color:#808030; '>)</span>
                    
              <span style='color:#808030; '>@</span>app<span style='color:#808030; '>.</span>route<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'/'</span><span style='color:#808030; '>)</span>
              <span style='color:#800000; font-weight:bold; '>def</span> index<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
              <span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#0000e6; '>'Hello, World'</span>
          </pre>
      </p>
  </div>
  <div>
      <h3>Configuration Files</h3>
      <p>
          When your app was created, two configuration files were created with it: .htaccess and passenger_wsgi.py. The .htaccess file is located in the public_html folder. If you put your app under a subpage, there will be a folder with your app's name that contains the file. Otherwise it will be in the public_html folder. The .htaccess tells any incoming requests to the URI that you specified to use your app to serve any pages. It should not need to be modified. The passenger_wsgi.py file is used to serve your app using the WSGI interface. I had some issues here, so I'm not going to say that my solution is the best, but based on what I could piece together (and the fact that it works), I think it's good. I configured my passenger_wsgi.py file like so:
        <pre style='color:#000000;background:#ffffff;'>
            <span style='color:#800000; font-weight:bold; '>import</span> os
            <span style='color:#800000; font-weight:bold; '>import</span> sys
            <span style='color:#800000; font-weight:bold; '>import</span> importlib<span style='color:#808030; '>.</span>util
        
            sys<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>insert<span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> os<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>dirname<span style='color:#808030; '>(</span>os<span style='color:#808030; '>.</span>path<span style='color:#808030; '>.</span>realpath<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'__file__'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
        
            spec <span style='color:#808030; '>=</span> importlib<span style='color:#808030; '>.</span>util<span style='color:#808030; '>.</span>spec_from_file_location<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"wsgi"</span><span style='color:#808030; '>,</span> <span style='color:#0000e6; '>"__init__.py"</span><span style='color:#808030; '>)</span>
            wsgi <span style='color:#808030; '>=</span> importlib<span style='color:#808030; '>.</span>util<span style='color:#808030; '>.</span>module_from_spec<span style='color:#808030; '>(</span>spec<span style='color:#808030; '>)</span>
            spec<span style='color:#808030; '>.</span>loader<span style='color:#808030; '>.</span>exec_module<span style='color:#808030; '>(</span>wsgi<span style='color:#808030; '>)</span>
            application <span style='color:#808030; '>=</span> wsgi<span style='color:#808030; '>.</span>app
        </pre>
          Note that you need to replace __init__.py with whatever you named your file where you defined your app.
      </p>
  </div>

{% endblock %}