{% extends 'base.html' %}

{% block title %}
	Employees -
{% endblock %}

{% block header %}
  <h1>Login</h1>
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<form method="post">
	  <div class="form-group">
	    <label for="username">Username</label>
		<input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>

</body>
</html>

{% endblock %}
